.tab-fl ul {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 13vw;
  border-bottom: 1px solid #eaeaea;
  background: #fff;
}

.tab-fl ul li {
  height: 100%;
  line-height: 13vw;
  position: relative;
  text-align: center;
  width: calc(33.33% - 1px);
}

.tab-fl ul li:after {
  content: '';
  position: absolute;
  width: 1px;
  height: 7.3vw;
  background: #dedede;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.tab-fl ul li:last-of-type:after {
  display: none;
}

.tab-fl ul li a {
  display: block;
  font-size: 4vw;
}

.tab-fl ul li.active a {
  font-family: 4.5vw;
  line-height: 12.4vw;
  border-bottom: .6vw solid #1176bd;
  color: #1176bd;
}

.input-search {
  background: url('../images/wap_jb.jpg') center no-repeat;
  background-size: cover;
}

.input-search h3 {
  font-size: 5.8vw;
  color: #fff;
  text-align: center;
  line-height: 21vw;
  font-weight: initial;
}

.input-search>div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 8.6vw;
}

.input-search input[type=text] {
  height: 10.6vw;
  width: 74.4vw;
  border: none;
  border-radius: 1vw 0 0 1vw;
  padding: 0 2vw;
  font-size: 3.5vw;
  color: #333;
}

.input-search input[type=text]::-webkit-input-placeholder {
  font-size: 3.5vw;
  color: #ccc;
}

.input-search input[type=image] {
  width: 14vw;
  height: 10.6vw;
  padding: 2.5vw 4.2vw;
  background: #1075bc;
  border-radius: 0 1vw 1vw 0;
}

#container {
  padding: 3vw;
}

#container .li {
  position: relative;
  background: #fff;
}

#container .li .zs-box {
  overflow: hidden;
  margin-bottom: 10vw;
  position: relative;
}

#container .li .zs-box-1 .content {
  position: relative;
  width: 100%;
  height: 66vw;
  background: url('../images/zs_01.jpg') center no-repeat;
  background-size: cover;
}

#container .li .zs-box-1 .userimg {
  position: absolute;
  width: 11.4vw;
  top: 21vw;
  left: 14vw;
}

#container .li .zs-box-1 .userimg img {
  width: 100%;
  display: block;
}

#container .li .zs-box-1 .zhang {
  position: absolute;
  width: 12vw;
  top: 44vw;
  left: 70vw;
}

#container .li .zs-box-1 .zhang img {
  width: 100%;
  display: block;
}

#container .li .zs-box .p>p {
  position: absolute;
  font-size: 3.2vw;
  color: #332a2c;
  line-height: 100%;
  transform: scale(.6);
  font-weight: bold;
}

#container .li .zs-box-1 .p .name-1 {
  left: 13vw;
  top: 43.6vw;
}

#container .li .zs-box .p .cart {
  width: 40vw;
}

#container .li .zs-box .p .num {
  width: 4vw;
}

#container .li .zs-box-1 .p .cart {
  left: 13vw;
  top: 48.7vw;
}

#container .li .zs-box .p .bh {
  width: 40vw;
}

#container .li .zs-box-1 .p .bh {
  left: 11.5vw;
  top: 53.4vw;
}

#container .li .zs-box-1 .p .time {
  left: 35.8vw;
  top: 21.8vw;
  width: 100vw;
  display: flex;
}

#container .li .zs-box-1 .p .time span {
  display: block;
  letter-spacing: -.2vw;
}

#container .li .zs-box-1 .p .time span:first-of-type {
  margin-right: 4vw;
}

#container .li .zs-box-1 .p .ftime {
  top: 53.4vw;
  left: 59vw;
}

#container .li .zs-box-1 .p .name-2 {
  top: 16.8vw;
  left: 57vw;
  border-bottom: 1px solid #271d1e;
}

#container .li .zs-box-1 .p .num {
  top: 26.8vw;
  left: 64vw;
}


#container .li .zs-box-2 .content {
  position: relative;
  width: 100%;
  height: 66vw;
  background: url('../images/zs_02.jpg') center no-repeat;
  background-size: cover;
}

#container .li .zs-box-2 .userimg {
  position: absolute;
  width: 11.4vw;
  top: 6vw;
  left: 67vw;
}

#container .li .zs-box-2 .userimg img {
  width: 100%;
  display: block;
}

#container .li .zs-box-2 .zhang {
  position: absolute;
  width: 12vw;
  top: 46vw;
  left: 67vw
}

#container .li .zs-box-2 .zhang img {
  width: 100%;
  display: block;
}

#container .li .zs-box-2 .name-1 {
  top: 24.7vw;
  left: 18vw;
  border-bottom: 1px solid #271d1e;
}

#container .li .zs-box-2 .cart {
  top: 50.6vw;
  left: 13.5vw;
}

#container .li .zs-box-2 .bh {
  top: 55.4vw;
  left: 13.5vw;
}

#container .li .zs-box-2 .name-2 {
  display: none;
}

#container .li .zs-box-2 .time {
  top: 30.1vw;
  left: 7vw;
}

#container .li .zs-box-2 .time span {
  margin-right: 4vw;
  letter-spacing: -.2vw;
}

#container .li .zs-box-2 .num {
  top: 30vw;
  left: 76.7vw;
}

#container .li .zs-box-2 .ftime {
  top: 55.5vw;
  left: 57.6vw;
}

#container .li .content {
  overflow: hidden;
}

#container .li .content table {
  width: 100%;
}

#container .li .content table th {
  font-size: 4vw;
  line-height: 8.5vw;
  background: #1075bc;
  color: #fff;
}

#container .li .content table td {
  padding: 1.6vw 4vw;
  border-left: 1px solid #dbdbdb;
  border-top: 1px solid #dbdbdb;
  font-size: 3.5vw;
  color: #555;
  line-height: 4.8vw;
}

#container .li .content table td:first-of-type {
  width: 20vw;
  padding: 1.6vw 0vw 1.6vw 3.2vw;
}

#container .li .content table td:last-of-type {
  border-right: 1px solid #dbdbdb;
}

#container .li .content table tr:last-of-type td {
  border-bottom: 1px solid #dbdbdb;
}

#container .li .content table td span {
  font-size: 3.5vw;
  color: #1075bc;
  font-weight: 600;
}

#container .li .btnSave {
  position: absolute;
  right: 2vw;
  bottom: 2vw;
  width: 6vw;
  height: 6vw;
  background: url('../images/download_01.png');
  background-size: 100%;
  transition-duration: .3s;
  margin: 3vw;
  margin-top: -5vw;
}

#container .li .btnSave:hover {
  background: url('../images/download_02.png');
  background-size: 100%;
}

#container .li.table-box .btnSave {
  right: -2vw;
  bottom: -2vw;
}

#container .li.none .content {
  height: 66vw;
  display: table;
  width: 100%;
  text-align: center;
}

#container .li.none .content .text {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}

#container .li.none .content .text h3 {
  margin-bottom: 18vw;
  font-size: 5vw;
}

#container .li.none .content .text p {
  font-size: 4vw;
}